<div class="col-sm-9  col-md-10  main">
    <div class="static_page_main usermanagement_main">
        <div class="static_page_management">
            <h1>Statics Pages</h1>
        </div>
        <div class="usermanagement_main_inner">
            <div class="static_page_management_table usermanagement_table funnel_management">
                <table class="table" id="data-table">
                    <thead>
                        <tr>
                            <th class="active"><a href="<%=admin_faq_path %>">FAQ</a></th>
                            <th><a href="<%=admin_contactus_path %>">Contact Us</a></th>
                            <th><a href="<%=admin_privacypolicy_path %>">Privacy Policy</a></th>
                            <th><a href="<%=admin_tc_path %>">TC</a></th>

                        </tr>
                    </thead>
                   
                </table>
               
            </div>
            
        </div>
    </div>
</div>
